@charset "utf-8";

/* 公共样式清除默认样式 */

h1, h2, h3, h4, h5, h6, p, body, ul, li {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	font-weight: normal;
}
em, strong {
	font-style: normal;
	font-weight: normal;
}
a {
	text-decoration: none;
}
ul {
	list-style: none;
}
img {
	vertical-align: middle;
	border: none;
}
.clearfix:after {
	clear: both;
	content: "";
	display: block;
}
.clearfix {
	zoom: 1;
}
#active a { color:#0f298d;
font-weight:bold;}

/* topline样式 */

.topline {
	width: 100%;
	height: 5px;
	background-color: #09238b;
}
/* topnav样式 */

.topnav_wrapper {
	width: 100%;
}
.topnav {
	width: 1000px;
	margin: 0 auto;
}
.topnav img {
	display: inline-block;
	float: left;
	padding-top: 13px;
}
.topnav .language {
	width: 137px;
	height: 22px;
	float: right;
	text-align: center;
	background-image: url(../images/English.jpg);
	font-size: 12px;
	color: #FFF;
}
.topnav .language a {
	color: #FFF;
	padding-left: 16px;
	padding-right: 16px;
}
.topnav .nav {
	width: 548px;
	float: right;
	margin-top: 37px;
}
.topnav ul li {
	float: left;
	margin-right: 24px;
	line-height: 18px;
}
.topnav ul li a {
	font-size: 14px;
	color: #333333;
}
.topnav ul .size {
	margin-right: 0px;
}

/* new样式 */

.new_wrapper {
	width:100%;
  height:1536px;
  border-top:1px solid #cccccc;
  margin-top:10px;
  background:url(../images/bg3.jpg) repeat-x left 40px;}
.new {
	width:1000px;
  margin:0 auto;
}
.new h2 {
	font-size:12px;
  line-height:40px;
}
.left {
	float:left;
  width:199px;
  margin-top:46px;
}
.left h3 {
	font-size:24px;
  color:#0f298d;
  border-bottom:1px solid #dddddd;
  line-height:37px;
}
.left ul li {
	line-height:40px;
  border-bottom:1px solid #dddddd;
  background:url(../images/fuhao.jpg) no-repeat left center;
  padding-left:15px;
}
.left ul li a {
	font-size:14px;
  color:#272727;
}
.left ul .active {
	background:url(../images/fuhao_active.jpg) no-repeat left center;}
.left ul .active a {
	color:#000;
  font-weight:bold;
}
.new_right {
	width:770px;
  float:right;
  margin-top:46px;}
.new_right h3 {
	font-size:20px;
  line-height:37px;
  font-weight:bold;
  border-bottom:1px solid #dddddd;
}
.new_right img {
	padding-top:15px;
}
.newpic {
	padding-bottom:30px;
  padding-top:30px;
  border-bottom:1px solid #d9d9d9;
  font-size:12px;
  color:#272727;
}
.newpic img {
	float:left;
  margin-right:15px;
  padding-top:0px;
}
.newpic p {
	line-height:20px;
  padding-top:25px;
  padding-bottom:25px;
}
.newpic .newlink2 {
	color:#000;
}
.newpic .newlink {
	font-size:14px;
  font-weight:bold;
  color:#000;
}
.newpic span {
	float:right;
}
.recruite {
	width:770px;
  float:left;
}
.recruite p {
	font-size:12px;
  line-height:60px;
}
.recruite p a {
	font-size:12px;
  color:#272727;
}
.recruite p span {
	float:right;
}

/* footer样式 */

.footer_wrapper {
	width: 100%;
	height: 295px;
	border-top: 4px solid #09238b;
	background-color: #5F5F5F;
}

/* footer样式 */

.footer_wrapper {
	width: 100%;
	height: 295px;
	border-top: 4px solid #09238b;
	background-color: #5F5F5F;
}
.footer {
	width: 1000px;
	margin: 0 auto;
}
.footer ul {
	float: left;
	margin-top: 20px;
}
.footer ul .textstyle, .textstyle2 {
	border-bottom: 1px solid #888888;
	padding-right: 90px;
}
.footer ul .textstyle a, .footer ul .textstyle2 a {
	font-size: 14px;
	color: #FFF;
	line-height: 38px;
}
.footer ul .textstyle2 {
	padding-right: 160px;
}
.footer ul li {
	line-height: 27px;
}
.footer ul li a {
	font-size: 12px;
	color: #cbcbcb;
}
.footer ul li .weixin, .footer ul li .wangzhan {
	width: 84px;
	height: 109px;
	float: left;
	padding-top: 8px;
	padding-right: 15px;
	text-align: center;
	font-size: 12px;
	color: #cbcbcb;
}
.footer p {
	display: inline-block;
	width: 1000px;
	margin-top: 65px;
	font-size: 12px;
	color: #cbcbcb;
}
.footer p span {
	float: right;
}
.footer p span a {
	font-size: 12px;
	color: #cbcbcb;
}